// US Army
$army-bold: "army-bold", sans-serif;
$army-light: "army-light", sans-serif;
$army-regular: "army-regular", sans-serif;

// TT Squares
$tt-squares-black-italic: "tt-squares-black-italic", sans-serif;
$tt-squares-black: "tt-squares-black", sans-serif;
$tt-squares-bold: "tt-squares-bold", sans-serif;
