// General Colors
$black: #000000;
$white: #ffffff;
$transparent: transparent;

// Main Colors
$dark-blue: #021a3b;
$dark-blue-faded: rgba(2, 26, 59, 0.4);
$midnight: #04295c;
$navy: #173c80;
$medium-blue: #223a66;
$light-blue: #20aeff;
$neon-green: #2bf986;
$lime-green: #77bf53;
$forrest: #178048;
$peach: #f86144;
$rust: #802817;
$red: #ff3030;
$orange: #fb7f00;
$neon-yellow: #fafe00;
$gold: #ffd430;

// Tints
$blk-25: rgba($black, 0.25);
$blk-50: rgba($black, 0.5);
$white-03: rgba($white, 0.03);
$white-05: rgba($white, 0.05);
$white-15: rgba($white, 0.15);
$white-38: rgba($white, 0.38);
$white-50: rgba($white, 0.5);
$white-60: rgba($white, 0.6);
$white-87: rgba($white, 0.87);
